<div class="container px-2">
  <div class="row mt-2 gx-2">
    <div class="col">
      <div class="card p-1">
        <div class="card-body">
          <h5 class="card-title">Mon formulaire</h5>
          <div class="card-text">
            <form [formGroup]="form" (submit)="submit()">
              <div class="mb-3">
                <label for="titleInput" class="form-label">Titre</label>
                <input formControlName="title"
                       class="form-control"
                       id="titleInput" />
              </div>
              <div class="mb-3">
                <label for="messageInput" class="form-label">Message</label>
                <textarea formControlName="message" class="form-control" id="messageInput" rows="3"></textarea>
              </div>
              <button class="btn btn-primary"
                      [class.disabled]="!form.valid"
                      [disabled]="!form.valid">
                Ajouter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="list-group px-1">
        <div *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex justify-content-between">
            <div>
              <h5 class="mb-1">{{ post.title }}</h5>
              <p class="mb-1">{{ post.message }}</p>
            </div>

            <button type="button" (click)="remove(post)" class="btn btn-outline-danger">
              Suppr
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
